<div class="court-page-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1>Court booking</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="inputs">
                <mat-form-field>
                    <mat-label>Select a court</mat-label>
                    <mat-select (selectionChange)="onCourtChange($event)">
                        <mat-option  *ngFor="let court of courts" [value]="court.id">
                            {{ court.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Select a date</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="onDateChange($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>    
            </div>

            <div class="booking-section">
                <h2>Choose a booking</h2>
                <div class="bookings">
                    <button 
                        mat-raised-button 
                        [color]="range.ownedByUser ? 'warn' : 'primary'"
                        (click)="onBookingToggle(range)" 
                        [disabled]="isBookingDisabled(range)" 
                        *ngFor="let range of bookingRanges"
                    >
                        {{ range.startHourString }} - {{ range.endHourString }}
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>