.auth-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .auth-card {
    margin: 1em;
  }
  .auth-sections {

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-section, .register-section {
    width: 45%;
  }
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  button {
    width: 100%;
  }
  mat-divider {
    height: 300px;
    margin: 0 20px;
  }