/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Snack bar styles */

.mat-snackbar-success {
    --mdc-snackbar-container-color: #4CAF50; /* Medium green */
    --mat-snack-bar-button-color: #FFFFFF; /* White */
    --mdc-snackbar-supporting-text-color: #FFFFFF; /* White */
}
  
.mat-snackbar-error {
    --mdc-snackbar-container-color: #F44336; /* Medium red */
    --mat-snack-bar-button-color: #FFFFFF; /* White */
    --mdc-snackbar-supporting-text-color: #FFFFFF; /* White */
}